absl-py==2.1.0
addict==2.4.0
affine==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
albumentations==1.4.4
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.2
annotated-types==0.6.0
anyio==3.4.0
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.4.1
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.3
attrs==21.2.0
autopep8==1.6.0
awsebcli==3.20.6
backcall==0.2.0
backports.entry-points-selectable==1.1.1
basemap==1.4.0
basemap-data==1.3.2
bcrypt==4.0.1
beautifulsoup4==4.11.1
binaryornot==0.4.4
bleach==5.0.0
blessed==1.20.0
botocore==1.29.99
cached-property==1.5.2
Cartopy==0.22.0
cement==2.8.2
certifi==2023.7.22
cffi==1.15.0
chardet==5.0.0
charset-normalizer==2.0.12
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.3
contextily==1.6.0
contourpy==1.0.6
cookiecutter==2.1.1
crcmod==1.7
cryptography==36.0.0
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.3
docker==4.4.4
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
efficientnet==1.0.0
efficientnet-pytorch==0.7.1
entrypoints==0.4
executing==0.8.3
fastapi==0.70.0
fastjsonschema==2.15.3
filelock==3.3.2
fiona==1.9.6
Flask==2.2.2
flatbuffers==24.3.25
fonttools==4.38.0
frozenlist==1.4.1
fsspec==2023.9.2
future==0.18.3
gast==0.5.4
geographiclib==2.0
geopandas==0.14.3
geoplot==0.5.1
geopy==2.4.1
google-pasta==0.2.0
grpcio==1.62.1
h11==0.12.0
h5py==3.11.0
htmlmin==0.1.12
huggingface-hub==0.22.2
idna==3.3
image-classifiers==1.0.0
ImageHash==4.3.1
imageio==2.34.1
importlib_metadata==7.1.0
ipykernel==6.13.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.3.0
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kaggle==1.6.17
kagglehub==0.3.4
keras==3.2.1
Keras-Applications==1.0.8
kiwisolver==1.4.4
lazy_loader==0.4
libclang==18.1.1
liegroups @ file:///Users/dhnam/Downloads/liegroups-master
lightning @ git+https://github.com/PyTorchLightning/pytorch-lightning@d1949766f8cddd424e2fac3a68b275bebe13d3e4
lightning-utilities==0.11.2
mapclassify==2.6.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.3
mdurl==0.1.2
mercantile==1.2.1
Mesa==1.1.1
mistune==0.8.4
ml-dtypes==0.3.2
mmcv==2.1.0
mmengine==0.10.3
model-index==0.1.11
mpmath==1.2.1
multidict==6.0.5
multimethod==1.9
munch==4.0.0
namex==0.0.7
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.3.0
neo4j==5.27.0
nest-asyncio==1.5.5
networkx==2.8.8
notebook==6.4.11
numpy==1.26.4
opencv-python==4.8.1.78
opencv-python-headless==4.9.0.80
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.38
opt-einsum==3.3.0
optree==0.11.0
ordered-set==4.1.0
oss2==2.17.0
outcome==1.1.0
packaging==21.3
pandas==1.5.2
pandas-profiling==3.5.0
pandocfilters==1.5.0
paramiko==3.2.0
parso==0.8.3
patchify==0.2.3
pathspec==0.10.1
patsy==0.5.3
pdfminer.six==20231228
pdfplumber==0.11.3
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==4.2.0
plotly==5.18.0
pretrainedmodels==0.7.4
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==4.25.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.20.0
pydantic==1.10.19
pydantic_core==2.18.2
pygame==2.1.2
Pygments==2.17.2
PyMySQL==1.0.2
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==3.0.8
pypdfium2==4.30.0
pyproj==3.6.1
pyrsistent==0.18.1
pyshp==2.3.1
python-dateutil==2.8.2
python-slugify==7.0.0
pytorch-lightning==2.2.3
pytz==2023.4
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
rasterio==1.3.9
requests==2.28.1
rich==13.4.2
safetensors==0.4.3
scikit-image==0.23.2
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.12.1
segmentation-models==1.0.1
segmentation-models-pytorch==0.3.3
selenium==4.1.0
semantic-version==2.8.5
Send2Trash==1.8.0
shapely==2.0.3
six==1.14.0
sklearn==0.0.post1
sniffio==1.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.27
stack-data==0.2.0
starlette==0.16.0
statsmodels==0.13.5
sympy==1.11.1
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
termcolor==1.1.0
terminado==0.13.3
text-unidecode==1.3
texttable==1.6.7
threadpoolctl==3.1.0
tifffile==2024.4.24
timm==0.9.7
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
torch==2.1.0
torchaudio==2.1.0
torchinfo==1.8.0
torchmetrics==1.3.2
torchvision==0.16.0
tornado==6.1
tqdm==4.65.2
traitlets==5.1.1
trio==0.19.0
trio-websocket==0.9.2
typeguard==2.13.3
typing_extensions==4.11.0
urllib3==1.26.7
uvicorn==0.15.0
virtualenv==20.10.0
visions==0.7.5
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.59.0
Werkzeug==2.2.2
widgetsnbextension==3.6.0
wrapt==1.16.0
wsproto==1.0.0
xyzservices==2023.10.1
yapf==0.40.2
yarl==1.9.4
zipp==3.18.1
